.categories { 
    margin-top: 39px;
    margin-bottom: 90px;
}

.card_list { 
    height: 171px;
    width: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.card_1 {
    background-color: #ffffff;
    height: 128px;
    width: 128px;
    border-radius: 10px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.22);
}

.card{ 
    background-color: #f4f4f4;
    height: 128px;
    width: 128px;
    border-radius: 10px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.22);
}

.card_1 , .card { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img , .card_1 img  { 
    width: 61px;
    height: 61px;
}

.container_categories { 
    display: flex;
    justify-content: center;
    gap: 42px;
    font-size: 14px;
}

.products h1 {
    font-size: 30px;
    color: #3442b5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brands h2 {
    margin-bottom: 90px;
    font-size: 30px;
    color: #3442b5;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo { 
    background-color: #ffffff;
    height: 211px;
    width: 211px;
    border-radius: 50%;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.13);
    display: flex;
    align-items: center;
    justify-content: center;
}
