.categories { 
    margin-top: 39px;
    margin-bottom: 90px;
}

.card_list { 
    height: 171px;
    width: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.card_1 {
    background-color: #ffffff;
    height: 128px;
    width: 128px;
    border-radius: 10px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.22);
}

.card{ 
    background-color: #f4f4f4;
    height: 128px;
    width: 128px;
    border-radius: 10px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.22);
}

.card_1 , .card { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img , .card_1 img  { 
    width: 61px;
    height: 61px;
}

.container_categories { 
    display: flex;
    justify-content: center;
    gap: 42px;
    font-size: 14px;
}

.brands h2 {
    margin-bottom: 32px;
    font-size: 30px;
    color: #3442b5;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo { 
    background-color: #ffffff;
    border-radius:105.5px ;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.13);
    height: 211px;
    width: 211px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.individual_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.brands_list{
    display: flex;
    justify-content: center;
    gap: 42px;
}

.brands{
    margin-bottom: 90px;
}

.logo img { 
    height: 34.76px;
    width: 117px;
}

.partner_card{
    width: 634px;
    height: 350px;
    border-radius: 20px;
}


.partner { 
    display: flex;
    justify-content: center;   
    gap: 13px;
    font-size: 16px;
    color: #ffffff
}

.partner h2{ 
    font-size: 40px;
}

.check{ 
   width: 144.69px;
   height: 48px; 
   border: none;
   outline: none;
   background-color: #f7ca11;
   color: #271c47;
   border-radius: 6px;
}

.mask_group {
    margin-bottom: 90px;
}

.vitrini h1 {
    margin: 0;
    height: 45px;
    font-size: 30px;
    color: #3442b5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vitrini p {
    font-size: 15px;
    height: 23px;
    margin-top: 0;
    margin-bottom: 24px;
    color:#3f3f40;
}

.products{
    padding: 16.5px 13.95px;
    border-radius: 10px;
    box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.22);
}

.related_products { 
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: 90px;

}

.products img { 
    width: 100%;
    height: 228px;
    object-fit: contain;
    display: block;
}

.products p:nth-of-type(1) { 
    font-size: 15px;
    color: #3f3f40;

}

.products p:nth-of-type(2) { 
    font-size: 16px;
    color: #808080;
    text-decoration: line-through;
}

.products p:nth-of-type(3) { 
    font-size:20px;
    color: #3f3f40;
    font-weight: 700;
}

.products p:nth-of-type(4) { 
    font-size: 12px;
    color: #3f3f40;
}

.products p:nth-of-type(5) { 
    font-size: 12px;
    color: #3442b5;
}

.shop { 
    height: 44px;
    width: 275.85px;
    border-radius: 4px;
    background-color: #3442b5;
    border:none;
    outline: none;
    font-size: 14px;
    color: #ffffff;
}

#footer{
    width: 100%;
}

.footer_1{ 
    background-color: #271c47;
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 124px;
}

.subscribe h2 { 
    color: #ffffff;
    font-size: 32px;
    margin: 0 0 8px 0;
}

.subscribe p {
    color: #ffffff;
    font-size: 14px;
    margin: 0;
}

.subscribe_button {
    height: 42px;
    background-color: #f7ca11;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size:14px;
    color: #161615;
}

.name , .email {
    height: 42px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 14px;
    padding-left: 24px;
}

.footer_2{
    background-color: #f4f4f4 ;
    padding: 61.5px 0;
    
}

.footer_3 {
    background-color: #ffffff ;
    padding: 13px 0;
    font-size: 13px;
    color: #3f3f40;
    text-align: center;
}

.tags{ 
    background-color:#ffffff ;
    border: 1px solid #bdbdbd;
    font-size: 16px;
    color: #3b3b3b;
    margin-bottom: 24px;

}

total_tags { 
    display: flex;
    justify-content: center;
    gap: 0;
}

