header { 
    margin: 0px 80px 0px 80px;
}

.header{ 
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 119px;
}

.safe, .safe_2{ 
    display: flex;
    align-items: center;
    gap: 9px;
}

.safe img, .safe_2 img { 
    height: 20px;
    width: auto;
}

.safe span:nth-of-type(1), .safe_2 span:nth-of-type(2){
    font-size: 12px;
    color: #9f9f9f;
    height: 20px;
    width: auto;
    
}

.safe span:nth-of-type(2), .safe_2 span:nth-of-type(1){
    font-size: 12px;
    color: #3442b5;
    height: 20px;
    width: auto;
}

.header_2 { 
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
}

.logo_header { 
    height:41.3px ;
    width: auto;
}

.navegation { 
    font-size:14px ;
    background-color:#f6f5f2 ;
    color: #9f9f9f;
    outline: none;
    border: none;
    border-radius: 10px;
    height: 48px;

}

.thumbnails{ 
    height: 32px ;
    width: auto;
    gap: 32px;
}

.list_header a {
    text-decoration: none;
    color: #9f9f9f;
    font-size: 12px ;
    height: 18px;
    
}

.list_header{ 
    display: flex;
    gap: 91px;
    align-items: center;
    justify-content: center;
    padding: 11px 69px 11px 69px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
}

#categories { 
    margin-top: 39px;
    margin-bottom: 90px;
}

.container_categories { 
    display: flex;
    justify-content: center;
    gap: 42px;
    font-size: 14px;
}

.card_list { 
    height: 171px;
    width: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.card_1 {
    background-color: #ffffff;
    height: 128px;
    width: 128px;
    border-radius: 10px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.22);
}

.card{ 
    background-color: #f4f4f4;
    height: 128px;
    width: 128px;
    border-radius: 10px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.22);
}

.card_1 , .card { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img , .card_1 img  { 
    width: 61px;
    height: 61px;
}


.vitrini h1 {
    margin: 0;
    height: 45px;
    font-size: 30px;
    color: #3442b5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vitrini p {
    font-size: 15px;
    height: 23px;
    margin-top: 0;
    margin-bottom: 24px;
    color:#3f3f40;
}

.total_tags { 
    display: flex;
    justify-content: center;
    gap: 0;
}

.tags{ 
    background-color:#ffffff ;
    border: 1px solid #bdbdbd;
    font-size: 16px;
    color: #3b3b3b;
    margin-top: 4px;
    margin-bottom: 24px;

}

.related_products { 
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: 90px;

}


.products{
    padding: 16.5px 13.95px;
    border-radius: 10px;
    box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.22);
}


.products img { 
    width: 100%;
    height: 228px;
    margin-bottom: 18px ;
    margin-top: 32px;
}

.products p:nth-of-type(1) { 
    font-size: 15px;
    color: #3f3f40;
    line-height: 18px;

}

.products p:nth-of-type(2) { 
    font-size: 16px;
    color: #808080;
    text-decoration: line-through;
    margin-bottom: 2px ;
}

.products p:nth-of-type(3) { 
    font-size:20px;
    color: #3f3f40;
    font-weight: 700;
    margin-bottom: 2px ;
}

.products p:nth-of-type(4) { 
    font-size: 12px;
    color: #3f3f40;
    margin-bottom: 7px ;
}

.products p:nth-of-type(5) { 
    font-size: 12px;
    color: #3442b5;
    margin-bottom: 12px ;
}

.shop { 
    height: 44px;
    width: 275.85px;
    border-radius: 4px;
    background-color: #3442b5;
    border:none;
    outline: none;
    font-size: 14px;
    color: #ffffff;
}

.mask_group {
    margin-bottom: 90px;
}

.partner { 
    display: flex;
    justify-content: center;   
    gap: 13px;
    font-size: 16px;
    color: #ffffff
}

.partner h2{ 
    font-size: 40px;
}

.partner_card{
    width: 634px;
    height: 350px;
    border-radius: 20px;
}

.check{ 
   width: 144.69px;
   height: 48px; 
   border: none;
   outline: none;
   background-color: #f7ca11;
   color: #271c47;
   border-radius: 6px;
}

.brands{
    margin-bottom: 90px;
}

.brands h2 {
    margin-bottom: 32px;
    font-size: 30px;
    color: #3442b5;
    display: flex;
    align-items: center;
    justify-content: center;
}


.brands_list{
    display: flex;
    justify-content: center;
    gap: 42px;
}

.logo img { 
    height: 34.76px;
    width: 117px;
}

.logo { 
    background-color: #ffffff;
    border-radius:105.5px ;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.13);
    height: 211px;
    width: 211px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

#footer{
    width: 100%;
}

.footer_1{ 
    background-color: #271c47;
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 124px;
}

.subscribe h2 { 
    color: #ffffff;
    font-size: 32px;
    margin: 0 0 8px 0;
}

.subscribe p {
    color: #ffffff;
    font-size: 14px;
    margin: 0;
}

.name , .email {
    height: 42px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 14px;
    padding-left: 24px;
}

.subscribe_button {
    height: 42px;
    background-color: #f7ca11;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size:14px;
    color: #161615;
    padding: 15px 40px 15px 40px;

}

.footer_2{
    background-color: #f4f4f4 ;
    padding: 61.5px 0;
    
}

.footer_3 {
    background-color: #ffffff ;
    padding: 13px 0;
    font-size: 13px;
    color: #3f3f40;
    text-align: center;
}





























